:443 {
    encode gzip

    # Serve static files
    handle_path /static/* {
        root * /app/staticfiles
        file_server
    }

    # Proxy everything else to Django
    reverse_proxy web:8000

    tls internal

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
        Access-Control-Allow-Headers "Authorization, Content-Type"
    }
}

:80 {
    redir https://{host}{uri}
}

