:443 {
    reverse_proxy web:8000
    tls internal

    encode gzip
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
        Access-Control-Allow-Headers "Authorization, Content-Type"
    }
}

:80 {
    redir https://{host}{uri}
}
