version: '3.9'

services:
  web:
    build: .
    container_name: django_app_prod
    env_file:
      - .env
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    depends_on:
      - db
    volumes:
      - ./staticfiles:/app/staticfiles


  db:
    image: postgres:15
    container_name: postgres_prod
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"  # Internal only

  nginx:
    image: nginx:latest
    container_name: nginx_prod
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
    depends_on:
      - web

volumes:
  postgres_data:
