version: '3'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: timesheet_db
      POSTGRES_USER: timesheet_user
      POSTGRES_PASSWORD: StrongPassword123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
